.blueText {
    color: blue; /* blue color for category */

}

.greenText {
    color: #26A845; /* green color for category */
}

a {
    color: #007bff; /* blue color for links */
    text-decoration: none;
}

#aboutUs {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;/* rounded borders */
}

/* footer image sizing */
.footerImg {
    max-width: 100%;
    height: auto;
    max-height: 50px;
}

/* post image styling */
/* figure image styling */
.post-image, #figImg {
    width: 100%; /* Ensures the image fits within the container's width */
    margin-top: 15px; /* Adds space above the image */
    margin-bottom: 15px; /* Adds space below the image */
    border-radius: 8px; /* Adds rounded corners */
}

